body {
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  padding-bottom: 15px;
}
.weather-app {
  max-width: 650px;
  margin: 30px auto;
  padding: 30px 30px 20px 30px;
  background-color: rgba(68, 193, 231, 0.253);
  border: 1px solid rgb(180, 176, 176);
  border-radius: 5px;
}

#city-button {
  border-color: #ced4da;
}

.zagreb {
  font-size: 35px;
}
#main-temperature {
  position: relative;
  left: 17px;
}
#icon {
  height: 45px;
  width: auto;
  position: relative;
  top: -2px;
}
#temperature-show {
  position: relative;
  left: -10px;
}
#weather-description {
  position: relative;
  left: -22px;
}
#date {
  font-weight: bold;
}
#c {
  position: relative;
  top: -15px;
  left: -18px;
  font-size: 15px;
  font-weight: bold;
}
#description {
  font-size: 13.5px;
  text-transform: capitalize;
}
ul {
  list-style: none;
  font-size: small;
  font-weight: bold;
  margin-bottom: 0;
}
#small-celsius {
  font-size: 11px;
  position: relative;
  top: -3px;
}
.source {
  text-align: center;
  margin-bottom: 0;
}
a:link {
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
}
.active:hover {
  cursor: default;
  text-decoration: none;
  color: black;
}
